.header {
	color: rgb(255, 113, 113);
}

.viewer {
	width: calc(100% - 1.5rem);
	height: calc(100% - 1rem);
	margin: 0.5rem;
	margin-right: 1rem;
	padding: 0;
	border: none;
}

.centeredText {
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}